@mixin formation {
	
	.v-absolutelayout-formation {
		border: 1px solid black;
		background-color: rgb(50, 155, 0);
	}
	
	.v-absolutelayout-formation {
		border: 1px solid black;
		background-color: rgb(50, 155, 0);
	}
	
	.v-image-notmovable {
		margin: 2px;
	}

	.v-absolutelayout-formation {
		.v-ddwrapper {
			background-image: url("../img/positions/circle.png");
		}
		
		.v-ddwrapper-selected {
			background-image: url("../img/positions/circle_yellow.png");
		}
		
		.v-active-drag-source {
			background-image: url("../img/positions/circle_blue.png");
		}
	}
	
	/* plays */
	
	.v-absolutelayout-playnotvalid {
		border: 1px solid red;
	}
	
	button.equalwidth {
		width: 75px;
	}
	
	/* works only with a button size of 75px and a btn-group width of 300 */
	.btn-group > button.equalwidth:nth-child(4),
	.btn-group > button.equalwidth:nth-child(8) {
		border-bottom-right-radius: 4px !important;
		border-top-right-radius: 4px !important;
	}
	
	.btn-group > button.equalwidth:nth-child(5),
	.btn-group > button.equalwidth:nth-child(9) {
		margin-left: 0px !important;
		border-bottom-left-radius: 4px !important;
		border-top-left-radius: 4px !important;
	}
	
	.btn-group {
		.spacing {
			margin-top: 4px;
			margin-bottom: 4px;
		}
	}
}
