@mixin help {
	
	.v-image-help {
	    background: url("../img/help/bg.png") repeat-x scroll 0% 0% rgb(50, 51, 54);
	}
	.v-image-help:hover  {
		background: #4d749f repeat-x;
		background-image: url("../img/help/vertical-sprites.png");
		background-position: left -383px;
		color: #333;
	}

	.v-slot-help-LineupPage {
		background-image: url("../img/help/lineup.png");
		background-repeat: no-repeat;
	}
	
	.v-slot-help-FormationOffPage {
		background-image: url("../img/help/formation.png");
		background-repeat: no-repeat;
	}
	
	.v-slot-help-PlaybookOffPage {
		background-image: url("../img/help/playbook.png");
		background-repeat: no-repeat;
	}
	
	.v-slot-help-TrainingSettingsPage {
		background-image: url("../img/help/trainingsettings.png");
		background-repeat: no-repeat;
	}
}
