@mixin lineup {

	/* set same width to every tabitem and centers caption */
	.v-tabsheet-tabitemcell-lineup {
		/* we have 20 tabs, makes 5% per tabitem :) */
		width: 5%;
		
		/* caption will overwrite the width for itself (in style-attribute) - prevent it */
		.v-caption {
			width: auto !important;
		}
		
		/* let's center the caption. because it does not start at the whole left, the width is not full 100% */
		.v-captiontext {
			width: 92%;
			text-align: center;
			float: left;
		}
	}
	
	.h4 {
  		font-size: 14px;
  		font-weight: bold;
	}
}